.detect-btn{
  margin-top: 12px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg,#ba5711,#761c32);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  }

  &:active{
    transform: scale(0.96);
  }
}